/public
www
/dist
*.log
config-frontend-local.js

.DS_Store
/tmp
wp/
*.mo
*.pot
messages.xlf
/.idea/
.temp
/.vagrant/
node_modules
/.project

.vscode

.ultra.cache.json

# Docker Compose
.env
docker-compose.override.yml

.env.local
.next
tsconfig.tsbuildinfo

# Yarn Ignore without Zero Install
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
